@import url('https://fonts.googleapis.com/css?family=Caveat|Marck+Script|Oranienbaum&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Marck+Script&subset=cyrillic');


/*font-family: 'Caveat', cursive;*/
/*font-family: 'Marck Script', cursive;*/
/*font-family: 'Open Sans', sans-serif;*/
/*font-family: 'Oranienbaum', serif;*/


* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}


body {
 
  position: relative;
}

body::after {
  content: "";
  background: url(../images/book_bgc.jpg);
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

.container {
    max-width: 100%;
    margin: 0 auto;
}
.slideshow-container {
    padding-top: 70px;
    padding-left: 250px;
    height: 220px;
}
.navbar {
    background-color: #150d60;
    height: 75px;
    font-family: 'Open Sans', sans-serif;
    opacity: 0.75;
}
.nav a {
    text-decoration: none;
    color: wheat;
    font-size: 20px;
    font-style: oblique;
}
.nav {
    display: flex;
    align-items: baseline;
    padding-top: 23px;
    justify-content: space-around;
}
.aboutme {
    /*    background-color: rgba(223, 207, 186, 1);*/
    /*opacity: .99;*/
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    display: flex;
}
.aboutme_personal{
    padding: 50px 0;
        margin-right: 0;
            color: #150d60;
            opacity: 0.75;
}
h1 {
        padding: 50px 0;
            line-height: 1.1em;
    font-size: 25px;
    font-style: italic;
        color: #150d60;
    
}
.personal_text {
        padding: 0 15px;
    font-size: 18px;
    line-height: 1.5em;
    text-align: justify;
           max-width: 60%;
    margin-left: 0;
        color: #150d60;
}
.learn_more {
    margin-top: 40px;
    color: rgba(223, 207, 186, 1);
    border: 1px solid blue;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #150d60;
    margin-left: 175px;
}
.articles {
    
    color: #150d60;
    font-size: 18px;
    padding-left: 15px;
    padding-bottom: 25px;
    text-align: justify;
    padding-right: 35px;
    
}
.articles li {
        padding-bottom: 8px;
}
.h2 {
        line-height: 1.1em;
    font-size: 25px;
    font-style: italic;
    font-family: 'Open Sans', sans-serif;
    padding-left: 70px;
    padding-top: 25px;
    padding-bottom: 25px;
    
}
.comments {
    /*background-color: rgba(223, 207, 186, 1);*/
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
       padding-left: 15px;
       padding-bottom: 25px;
}
.h3 {
        line-height: 1.1em;
    font-size: 20px;
    font-style: italic;
    font-family: 'Open Sans', sans-serif;
    padding-left: 70px;
    padding-top: 10px;
}
footer {
    background-color: #150d60;
    color: wheat;
    font-size: 18px;
    padding-left: 15px;
    padding-bottom: 25px;
    opacity: 0.75;
}
.adress_contacts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 30px;
}
.adress {
 
  
        margin-left: 15px;
}
.programm {
    ;
   
    justify-content: space-around;
}
.photos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
        padding-left: 160px;
}

.useful_links a {
     text-decoration: none;
     color: wheat;
}

.advices {
       color: #150d60;
}
.slide_text {
    font-family: 'Marck Script', cursive;
    font-style: italic;
    font-weight: bold;
    font-size: 22px;
}
.main img {
    height: 475px;
    margin: 10px auto;
    display: flex;
}
.social {
    margin-left: 15px;
    margin-top: 10px;
}
.copyright {
    text-align: right;
    margin-right: 15px;
}
.contacts_email a,
.contacts_phone a {
    color: gold;
}
.photos img {
    width: 450px;
    overflow: hidden;
}
.photos img {
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
}
.photos img:hover {
    -webkit-transform: scale(1.6);
    -moz-transform: scale(1.6);
    -o-transform: scale(1.6);
}
.advice {
    margin-top: 15px;
    padding-left: 18px;
    padding-right: 18px;
    text-align: justify;
}
.advice_title {
    padding-left: 18px;
    padding-right: 18px;
    text-align: justify;
}
.video_zno a {
    display: block;
    color: #150d60;
    margin-left: 25px;
}
.video_zno li {
    line-height: 2;
}
